*.pyc
*.sqlite3
*~
*.egg-info/
/docker-compose.yml
/.idea/
/redis/
/db/
/letsencrypt/
.env
.venv
venv
media/
.backups/
.envrc
.pdm-python
.terraform.lock.hcl
.terraform/
.nox/
__pycache__
/app/src/auto_validator/core/celerybeat-schedule
/app/src/auto_validator/core/frontend/node_modules